

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h1>Booklet Sales</h1>
<a asp-action="create">Create Booklet Sales</a>
<br />
<a asp-action="GetAll">All Booklet Sales</a>
